# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\eric9\OneDrive\바탕 화면\SSAFY\코딩테스트준비\BOJ\21_Queue_deQueue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
